<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
						http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>Library</display-name>

	<!-- servlets -->
	<servlet>
		<servlet-name>Library</servlet-name>
		<servlet-class>vadya_zakusylo.library.servlets.LibraryServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadBooks</servlet-name>
		<servlet-class>vadya_zakusylo.library.servlets.UploadBooks</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectBooks</servlet-name>
		<servlet-class>vadya_zakusylo.library.servlets.SelectBooksServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Library</servlet-name>
		<url-pattern>/library</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadBooks</servlet-name>
		<url-pattern>/upload_books</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectBooks</servlet-name>
		<url-pattern>/select_books</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<!-- Define an error handler for 404 pages -->
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>

</web-app>